<ion-header>
    <ion-toolbar color="gradient">
      <ion-buttons slot="start">
        <ion-button menu (click)="toggleMenu()">
          <ion-icon slot="icon-only" color="white" size="small" src="assets/icon/menu1.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Treinos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <app-spinner [status]="status">
    
    
    
        <app-simple-item *ngFor="let item of trainings; let i = index" (click)="gotoPage(routes.trainings + '/' + item.id)">
          <div class="detail">
            <div class="title">{{item.title}}</div>
          </div>
        </app-simple-item>
    
        <app-empty-data *ngIf="trainings && trainings.length === 0" config="{
          title: 'No há treinos dispóniveis',
          subtitle: 'Entre em contato com seu instrutor, caso tenho contratado', 
          showImage: true}">
        </app-empty-data>
    
    
    
      </app-spinner>
    </ion-content>