.content {
  margin: 20px 10px;

  app-simple-item {
    align-items: center;

    ion-icon {
      padding: 0 10px;
    }

    span {
      border-left: 1px solid var(--ion-color-stable);
      padding-left: 20px;
    }

  }
}

