<ion-header>
    <ion-toolbar color="gradient">
      <ion-buttons slot="start">
        <ion-button menu (click)="toggleMenu()">
          <ion-icon slot="icon-only" color="white" size="small" src="assets/icon/menu1.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Treinos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

      <app-simple-item>
          <div class="description">
            <div class="name">Treino A</div>
          </div>
        </app-simple-item>
        
      <app-simple-item>
          <div class="description">
            <div class="name">Treino B</div>
          </div>
        </app-simple-item>
        
      <app-simple-item>
          <div class="description">
            <div class="name">Treino C</div>
          </div>
        </app-simple-item>

  </ion-content>