<ion-header>
  <ion-toolbar color="gradient">
    <ion-title>Exercícios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-simple-item>
      <div class="detail">
        <div class="name">Supino reto</div>
        <div class="series">Séries: 4X</div>
        <div class="repeticoes">Repetições: 18X</div>
      </div>
      <div class="check" suffix>
          <ion-checkbox color="primary"></ion-checkbox>
      </div>
    </app-simple-item>

    <app-simple-item>
        <div class="detail">
          <div class="name">Supino inclinado</div>
          <div class="series">Séries: 4X</div>
          <div class="repeticoes">Repetições: 18X</div>
        </div>
        <div class="check" suffix>
            <ion-checkbox color="primary"></ion-checkbox>
        </div>
      </app-simple-item>

      <app-simple-item>
          <div class="detail">
            <div class="name">Barra paralelal</div>
            <div class="series">Séries: 4X</div>
            <div class="repeticoes">Repetições: 18X</div>
          </div>
          <div class="check" suffix>
              <ion-checkbox color="primary"></ion-checkbox>
          </div>
        </app-simple-item>

        <app-simple-item>
            <div class="detail">
              <div class="name">Esteira</div>
              <div class="series">Intensidade: baixa</div>
              <div class="repeticoes">Tempo: 20 min</div>
            </div>
            <div class="check" suffix>
                <ion-checkbox color="primary"></ion-checkbox>
            </div>
          </app-simple-item>

</ion-content>


<ion-footer padding>
    <ion-button expand="block" shape="round" (click)="checkout()">Concluir</ion-button>
</ion-footer>